{% extends "layouts/base.html" %}
{% load static %}

{% block robot %}<meta name="robots" content="noindex">{% endblock %}

{% block content %}

<div class="d-flex align-items-center p-3 my-3 text-primary bg-info rounded shadow-sm">
    <img class="me-3" src="{% static  site.favicon %}" alt="{{site.name}}" width="48" height="48">
    <div class="lh-1">
        <h1 class="h6 mb-0 text-primary lh-1">Malicious Reports</h1>
        <small>Since {{created_since}}</small>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-lg-6 text-start align-center">
        {% if messages %}
        {% for message in messages %}
        <em class="text-danger ">{{ message }}</em>
        {% endfor %}
        
        {% else %}
        {% endif %}
    </div>
</div>


<div class="my-3 p-3 bg-body rounded shadow-sm">
    <div class="text-center align-items-center justify-content-center border-bottom">
        <h1 class="display-5 fw-bold">{{site.slogan}} <br><span class="text-danger">{{short_url}}</span> </h1>
        <p class="text-primary ">{{site.description}}</p>
    </div>
   
    <h2 class="pb-2 border-bottom border-3 border-primary text-danger">All paginated reports are listed below:</h2>
    <div class="d-flex align-items-center justify-content-center">
        <div class="col-lg-6">
    {% for report in reports %}
    <div class="d-flex text-muted pt-3">
        <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32"
            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32"
            preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>selfurl.xyz</title>
            <rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff"
                dy=".3em">32x32</text>
        </svg>

        <div class="pb-3 mb-0 small lh-sm border-bottom align-items-center justify-content-center d-block my-auto">
            <div class="d-flex justify-content-between">
                <strong class="text-gray-dark">{{report.created}}</strong>
            </div>
            <span class="d-block">by_{{report.user.username}}</span>
        </div>
    </div>
  
    {% endfor %}
</div>
<div class="col-lg-6">
  

</div>
    </div>

    <div class="d-flex align-items-end justify-content-end">
        <small class="d-block text-end mt-3 ">
            <div class=" border-0 d-flex flex-column flex-lg-row align-items-center justify-content-between">
                <nav aria-label="Page navigation ">
                    <ul class="pagination justify-content-center">
                        {% if reports.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a>
                        </li>
                        <li class="page-item"><a class="page-link"
                                href="?page={{ reports.previous_page_number }}">previous</a></li>
                        {% endif %}

                        <li class="page-item page-link"> Page {{ reports.number }} of {{reports.paginator.num_pages }}.
                        </li>

                        {% if reports.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ reports.next_page_number }}">next</a>
                        </li>
                        <li class="page-item"> <a class="page-link" href="?page={{ reports.paginator.num_pages }}">last
                                &raquo;</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </small>
    </div>
    {# {% include "layouts/ads_display.html" %}  #}
</div>

{% endblock %}