{% extends "layouts/base.html" %}
{% load static %}

{% block robot %}<meta name="robots" content="noindex">{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-lg-6 text-start align-center">
        {% if messages %}
        {% for message in messages %}
        <em class="text-danger ">{{ message }}</em>
        {% endfor %}
        {% else %}
        {% endif %}
    </div>
</div>

<div class="px-4 py-5 mb-5 text-center border-bottom">
    <img class="d-block mx-auto mb-4" src="{% static  site.favicon %}" alt="{{site.name}}" width="72" height="72">
    <h1 class="display-5 fw-bold">{{site.slogan}} <br><span class="text-danger">{{short_url}}</span> </h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">{{site.description}}</p>
    </div>
</div>

<div class="border-bottom px-4 py-5 mb-5 text-center">
    <div class="row g-4 p-3 row-cols-1">
        <div class="col-12 mt-0">
            <div class="fa fa-2x bg-danger p-3 text-warning rounded">
                <p>Clicks </p>
                <p class="text-white">{{clicked}}</p>
            </div>
        </div>
    </div>
</div>

<h2 class="pb-2 border-bottom border-3 border-primary text-danger">The details logs are listed below:</h2>
{% if visit_logs %}
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">Browser</th>
                <th scope="col">IP</th>
                <th scope="col">Country</th>
                <th scope="col">Latitude</th>
                <th scope="col">Longitude</th>
                <th scope="col">Clicked On</th>
            </tr>
        </thead>
        <tbody>
            {% for visit_log in visit_logs %}
            <tr>
                <td>
                    <p data-bs-toggle="tooltip" data-bs-html="true" title="{{visit_log.shortener.long_url}}">
                        {{visit_log.user_usage}}/{{visit_log.user_browser}}/{{visit_log.user_os}}/{{visit_log.user_device}}</p>
                </td>
                <td>
                    {{visit_log.ip}}
                </td>
                <td>
                    {{visit_log.country}}
                </td>
                <td>
                    {{visit_log.lat}}
                </td>
                <td>
                    {{visit_log.long}}
                </td>
                <td>
                    {{visit_log.visited}}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class=" border-0 d-flex flex-column flex-lg-row align-items-center justify-content-between">
    <nav aria-label="Page navigation ">
        <ul class="pagination justify-content-center">
            {% if visit_logs.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ visit_logs.previous_page_number }}">previous</a>
            </li>
            {% endif %}

            <li class="page-item page-link"> Page {{ visit_logs.number }} of {{ visit_logs.paginator.num_pages }}.
            </li>

            {% if visit_logs.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ visit_logs.next_page_number }}">next</a></li>
            <li class="page-item"> <a class="page-link" href="?page={{ visit_logs.paginator.num_pages }}">last
                    &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
</div>
<div class="mt-2">
    {# {% include "layouts/ads_boom_your_identity.html" %} #}
</div>
<div class="mt-2">

</div>
{% else %}
<div class="alert alert-warning text-center" role="alert">
    No Record Found!    
    <div class="mt-2">
        {# {% include "layouts/ads_boom_your_identity.html" %} #}
    </div>
</div>

{% endif %}

<h2 class="pb-2 border-bottom border-3 border-primary text-danger">This url have below malicious report record:</h2>

{% if reports %}
<div class="my-3 p-3 bg-body rounded shadow-sm">    
    {% for report in reports %}
    <div class="d-flex text-muted pt-3">
        <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32"
            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32"
            preserveAspectRatio="xMidYMid slice" focusable="false">            
            <rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff"
                dy=".3em">32x32</text>
        </svg>

        <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
            <div class="d-flex justify-content-between">
                <strong class="text-gray-dark">{{report.created}}</strong>
            </div>
            <span class="d-block">by_{{report.user.username}}</span>
        </div>
    </div>

    {% endfor %}
    <small class="d-block text-end mt-3">
        <a href="{% url 'selfurl:allreport' short_url %}">See All {{reports.count}} reports</a>
    </small>
</div>
{% else %}
<div class="alert alert-warning text-center" role="alert">
    No malicious report found!
    <div class="mt-2">
        {# {% include "layouts/ads_boom_your_identity.html" %} #}
    </div>
</div>

{% endif %}





{% endblock %}