{% load static %}
<div  class="col-auto text-center align-items-center justify-content-center">   
    <form hx-post="{% url 'selfurl:malicious_submit' %}" hx-target="#malicious_respose" hx-swap="innerHTML" hx-indicator="#indicator">
        {% csrf_token %}                    
        <div class="col mt-3 justify-content-center align-items-center">  
            <div class="d-flex justify-content-center align-items-center mb-2">  
            {{ form.captcha }}
            </div>
            <div class="d-flex form-group">                            
                <input type="text" class="form-control text-end rounded-0 rounded-start" value="{{form.short_url.label}}"  disabled>      
                {{ form.short_url }}                              
            </div> 
            <div class="form-group">      
                {{ form.reasons }}  
                <small class="text-danger">**{{ form.reasons.help_text }}</small>   
            </div>   
            <input type="submit" class="btn btn-primary" value="Submit"/>       
            <span><img id="indicator" class="htmx-indicator" src="{% static 'loading.gif' %}"  width="80" height="80"></span>

        </div>
        <span class="text-error invalid-feedback">{{ form.long_url.errors }}</span>                            
    </form>
</div>    
<div class="col-lg-12 text-start align-center">
    {% if messages %}                                                     
        {% for message in messages %}
        <em class="text-danger ">{{ message }}</em> 
        {% endfor %} 
    {% else %} 
    {% endif %} 
</div>    
<div class="mt-2">
    {# {% include "layouts/ads_boom_your_identity.html" %} #}
</div>